body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: deepskyblue;
}
a {
  text-decoration: none;
}
main {
  background-color: white;
  padding: 1em;
  border-radius: 20px;
}
#home nav li:nth-child(1) a,
#rules-and-gameplay nav li:nth-child(2) a,
#getting-started-tips nav li:nth-child(3) a {
  color: white;
  padding: 0.2em;
  text-decoration: none;
  background-color: black;
}
