body{
    background-color: bisque;
}
h2{
    font-variant-caps: small-caps;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.card{
    width: 600px;
    min-width: 400px;
    margin: 15px;
}
.outercard{
    display: flex;
    flex-wrap: wrap;
}
br{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media(max-width: 320px) {
    .card{
        width: 300px;
    }
    .outercard{
        margin: 0 auto;
        flex-direction: column;
    }
}